/* CSS RESET */
* {
  margin: 0;
  padding: 0;
}

/* Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* GENERICS TAGS */
h1 {
  font-size: 100px;
}

h2 {
  font-size: 33px;
}

body {
  font-family: "Edu TAS Beginner", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* PAGE STRUCTURE */
#container {
  height: 100vh;
}

/* UPPER PART */
#subcontainer-title {
  padding: 25px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* DEBUG */
  background-color: green;
}

/* MAIN CONTENT */
#subcontainer-main {
  /* DEBUG */
  background-color: blue;
}

.row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

/* CARD */
.red-pin {
  background-image: url("../img/pin.svg");
  height: 35px;
  width: 35px;
  position: absolute;
  top: -6px;
  left: 50%;
  transform: translateX(-50%);
}

figure {
  width: 400px;
  min-height: 500px;
  margin: 0 10px 30px 10px;
  position: relative;
  transition: 1s;
  /* DEBUG */
  background-color: red;
}

figure:hover {
  transform: rotate(10deg);
}

.frame-photo {
  margin: 20px;
}

figcaption {
  margin: 20px;
  padding-top: 10px;
}

figcaption > span {
  font-family: "Sometype Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
  color: rgb(141, 143, 143);
}
